.light .theme-switcher svg * {
  fill: var(--primary);
  opacity: 1;
}

.light .dark-icon,
.dark .light-icon {
  display: none;
}

//Hover styles
@media screen and (hover: hover) and (min-width: 767px) {
  .light .theme-switcher:hover svg * {
    fill: #d8d8d8;
  }

  .dark .theme-switcher:hover svg * {
    opacity: 1;
  }
}
